html, body
{
    height:100%;
    width: 100%;
}
html 
{
    height: 100%;
}
body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* html, body { this wont work until <html> bug is figured out
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
} */

#text
{
    display: none;
}
/*------Header CSS-------*/
#header
{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/New-York-City-Background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.user-box
{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.user-box img
{
    border-radius: 50%;
    height: 350px;
    width: 350px;
    border: 1px solid black;
}
.user-box h1
{
    color: #fff;
    left: 50%;
    text-align: center;
    font-weight: bold;
}
.user-box p
{
    left: 50%;
    top: -10%;
    font-size: large;
    color: #fff;
    text-align: center;
    font: open
}
.user-box a:link {
    color: white;
  }
  
  /* visited link */
.user-box a:visited {
    color: white;
  }
  
  /* mouse over link */
.user-box a:hover {
    color: white;
  }
  
  /* selected link */
.user-box a:active {
    color: white;
  }
.scroll-btn
{
    bottom: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid #fff;
    padding: 10px 10px 20px;
    border-radius: 30px;
}
.scroll-bar span
{
    border: 2px solid #fff;
    font-size: 10px;
    border-radius: 30px;
}
.scroll-bar
{
    animation: mover 1s infinite alternate;
}
@keyframes mover
{
    0%{transform: translateY(0);}
    100%{transform: translateY(10px);}
}
/* ------About------- */
/* .about
{
    padding-top: 100px;
    margin-bottom: -130px;
    color:white;
} */

.profile-img
{
    height:auto;
    width: 75%;
    border-radius: 25px;
    border: 2px solid white;
}
.row ul
{
    columns: 2;
}
.nav-bar
{
    top: 0;
    position: sticky;
    z-index: 2;

}
.navbar
{
    background-color: black;

}
.nav-bar .fa-bars
{
    font-size: 35px;
    color: #fff;
}
.navbar-toggler
{
    outline: none !important;
}
.navbar-nav
{
    float: right;
    text-align: right;
}
.nav-link
{
    color: #fff !important;
}
#user-info
{
    background-image: url(images/soft-wallpaper.png),linear-gradient(to left bottom, #84ceeb, #92cded, #9ecbed, #aacaeb, #b5c9e9, #b0c1e8, #acb9e6, #aab0e3, #9d9de1, #928add, #8c76d8, #8860d0);
    color:white;
}

.wrapper
{
    padding-left: 150px;
    padding-right: 150px;
}
@media screen and (max-width: 980px) {
.wrapper {
    display: block;
    padding-left:0;
    padding-right:0;

}
}


#about
{
    margin-top: 150px;
    border: solid 2px white;
    border-radius: 25px;
    padding: 50px;
    color: white;
}
hr
{
    height: 2px;
    color: #5680e9;
    background-color: #5680e9;
    border: none;
}
#rocdate
{
    text-align: right;

}
.post h5
{
    font-size: 50px;
}
.post ul
{
    columns: 1;
}
.post 
{
    /* padding-left: 150px;
    padding-right: 150px; */
    /* background: #c1c8e4; */
    /* margin-left: 150px;
    margin-right: 150px; */
    background: #AFB8DC;
    border: solid 2px white;
    border-radius: 25px;
    margin-top: 345px;
    padding: 50px;
    color: white;
    position: relative;

}
/* @media screen and (max-width: 768px) {
.post {
    margin-left:0;
    margin-right:0;
    width: 100%;
    padding: 10px;
    }
} */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{
    display: block;
}
.timeline
{
    list-style-type: none;
}
tbody
{
    display: table;
    border-collapse: collapse;
    margin: 0px;
    width: 100%;
}
.post table
{
    width: 100%;
    display: block;
    border-collapse: collapse;
    margin: 0px;
    color: white;
}
#education
{
    width: 100%;
    display: block;
    border-collapse: collapse;
    margin: 0px;
}
#eddate
{
    text-align: right;
}
.skill-button-container
{
    text-align: center;
}
.skillbutton{
    display:inline-block;
    padding:0.5em 3em;
    border:0.16em solid #AFB8DC;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:400;
    color: white;
    background-color: #AFB8DC;
    text-align:center;
    transition: all 0.15s;
    }
    .skillbutton:hover{
    columns: #5680e9;
    color: #5680e9;
    border-color:#5680e9;
    }
    .skillbutton:active{
    color:#5680e9;
    border-color:#5680e9;
    background-color: #dddddd;
    }
    @media all and (max-width:30em){
    .skillbutton{
    display:block;
    margin:0.4em auto;
    }
}
*:focus 
{
    outline: 0 !important;
}
.skill-row-container
{

    margin: auto 0;
    padding: 5px;
    color: white;
    overflow: hidden;
}
.skill-row-container li
{
    margin: 25px 0;
    list-style: none;
    position: relative;
    display: block;
    

}
.percent
{
    position: absolute;
    right: 0;
    top: calc(100%);
    height: 20px;
    color: white;
    text-align: right;
    vertical-align: middle;
    line-height: 20px;
    margin: 0;
    margin-right: 2px;
    z-index: 1;

}
.skill-row-container li::before
{
    content: "";
    position: absolute;
    top: calc(100%);
    left: 0;
    width: 100%;
    height: 20px;
    background-color: #5ab9ea;
    border-radius: 1000px;
    z-index: 0;
}
.skill-row-container li::after
{
    content: "";
    position: absolute;
    top: calc(100%);
    left: 0;
    width: 0;
    height: 20px;
    background-color:#5680e9;
    border-radius: 1000px;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    z-index: 0;
}

.course-list
{
    margin:0;
    border:0;
    padding:0;
    text-align: center;
    padding-bottom: 10px;
    padding-top:10px;
    width:100%;
    height:auto;
    
}
.course-list ul
{

    text-align: center;
    padding:0;
    

}
.course-list li
{
    white-space: nowrap;
    display: inline;
    margin: 10px;
    margin-left: 0;
    margin-right: 0;
    border:0;
    list-style: none;

}
.course-list li:after { content: " \2022"; color: #5680e9;}
.course-list li:last-child:after { content: none; }
.course-list a:link {
    color: white;
  }
  
  /* visited link */
.course-list a:visited {
    color: white;
  }
  
  /* mouse over link */
.course-list a:hover {
    color: #5ab9ea;
  }
  
  /* selected link */
.course-list a:active {
    color: #5680e9;
  }
.contact
{
    padding:100px;
    color:white;
}
@media screen and (max-width: 768px) {
    .contact {
        margin-left:0;
        margin-right:0;
        width: 100%;
        }
    }
.contact p
{
    color:white;
    padding-bottom: 30px;
}
.col-md-4 .fa
{
    padding: 10px;
    font-size: 60px;
    color: white;
}
.contact h5
{
    font-size: 50px;
}
 /* visited link */
 .col-md-4 a:visited {
    color: white;
  }
  
  /* mouse over link */
.col-md-4 a:hover {
    color: white;
  }
  
  /* selected link */
.col-md-4 a:active {
    color: white;
  }
.social-icons
{
    margin-left: -150px;
    margin-top: -345px;
    top: 50%;
    transform: translateY(-50%);
    position: sticky;
    z-index: 1;
    width: 80px;
}
.social-icons ul
{
    padding: initial;
}
.social-icons ul li
{
    height: 40px;
    width: 40px;
    list-style-type: none;
    padding-left: 12px;
    padding-top: 6px;
    margin-top: 5px;
    color: white;
    background: black;
}
.social-icons ul li:hover
{
    padding-left:30px;
    width: 80px;
    transition: .5s;

}
#numpy
{
    display: none;
}
#pandas
{
    display: none;
}
#matplotlib
{
    display: none;
}
#scikit-learn
{
    display: none;
}
#jupyter
{
    display: none;
}
#modeling
{
    display: none;
}
#seaborn
{
    display: none;
}
#plotly
{
    display: none;
}
#oracle
{
    display: none;
}
#aws
{
    display: none;
}
#postgresql
{
    display: none;
}
#sqlite
{
    display: none;
}
#mysql
{
    display: none;
}
#dbeaver
{
    display: none;
}
#excel
{
    display: none;
}
#python
{
    display: none;
}
#sql
{
    display: none;
}
#django
{
    display: none;
}
#java
{
    display: none;
}
#html
{
    display: none;
}
#css
{
    display: none;
}
#javascript
{
    display: none;
}
#matlab
{
    display: none;
}
#imagej
{
    display: none;
}
#labview
{
    display: none;
}
#latex
{
    display: none;
}
#word
{
    display: none;
}
#powerpoint
{
    display: none;
}
#math
{
    display: none;
}
#stats
{
    display: none;
}
#cs
{
    display: none;
}
#physics
{
    display: none;
}
#algorithms
{
    display: none;
}
#git
{
    display: none;
}

li.numpy:after
{
    animation-name: numpy;
}
li.pandas:after
{
    animation-name: pandas;
}
li.matplotlib:after
{
    animation-name: matplotlib;
}
li.scikit-learn:after
{

    animation-name: scikit-learn;
}
li.jupyter:after
{

    animation-name: jupyter;
}
li.modeling:after
{

    animation-name: modeling;
}
li.seaborn:after
{

    animation-name: seaborn;
}
li.plotly:after
{

    animation-name: plotly;
}
li.oracle:after
{

    animation-name: oracle;
}
li.aws:after
{

    animation-name: aws;
}
li.postgresql:after
{

    animation-name: postgresql;
}
li.mysql:after
{

    animation-name: mysql;
}
li.sqlite:after
{
    animation-name: sqlite;
}
li.dbeaver:after
{

    animation-name: dbeaver;
}
li.excel:after
{

    animation-name: excel;
}
li.python:after
{

    animation-name: python;
}
li.sql:after
{
 
    animation-name: sql;
}
li.django:after
{

    animation-name: django;
}
li.java:after
{

    animation-name: java;
}
li.html:after
{
    animation-name: html;
}
li.css:after
{
    animation-name: css;
}
li.javascript:after
{

    animation-name: javascript;
}
li.matlab:after
{

    animation-name: matlab;
}
li.labview:after
{

    animation-name: labview;
}
li.imagej:after
{

    animation-name: imagej;
}
li.latex:after
{

    animation-name: latex;
}
li.word:after
{
    animation-name: word;
}
li.powerpoint:after
{
    animation-name: powerpoint;
}
li.math:after
{
    animation-name: math;
}
li.stats:after
{
    animation-name: stats;
}
li.cs:after
{
    animation-name: cs;
}
li.physics:after
{
    animation-name: physics;
}
li.algorithms:after
{
    animation-name: algorithms;
}
li.git:after
{
    animation-name: git;
}
@keyframes numpy {
    to{
        width: 100%;
    }
}
@keyframes pandas {

    to{
        width: 100%;
    }
}
@keyframes matplotlib {

    to{
        width: 100%;
    }
}
@keyframes scikit-learn {

    to{
        width: 80%;
    }
}
@keyframes jupyter {

    to{
        width: 80%;
    }
}
@keyframes modeling {

    to{
        width: 70%;
    }
}
@keyframes seaborn {

    to{
        width: 60%;
    }
}
@keyframes plotly {

    to{
        width: 90%;
    }
}
@keyframes oracle {

    to{
        width: 70%;
    }
}
@keyframes aws {

    to{
        width: 50%;
    }
}
@keyframes postgresql {

    to{
        width: 70%;
    }
}
@keyframes sqlite {

    to{
        width: 75%;
    }
}
@keyframes mysql {

    to{
        width: 65%;
    }
}
@keyframes dbeaver {

    to{
        width: 90%;
    }
}
@keyframes excel {

    to{
        width: 100%;
    }
}
@keyframes sql {

    to{
        width: 100%;
    }
}
@keyframes python {

    to{
        width: 100%;
    }
}
@keyframes django {

    to{
        width: 70%;
    }
}
@keyframes java {

    to{
        width: 85%;
    }
}
@keyframes html {

    to{
        width: 90%;
    }
}
@keyframes css {

    to{
        width: 90%;
    }
}
@keyframes javascript {

    to{
        width: 75%;
    }
}
@keyframes matlab {

    to{
        width: 80%;
    }
}
@keyframes labview {

    to{
        width: 75%;
    }
}
@keyframes imagej {

    to{
        width: 75%;
    }
}
@keyframes latex {

    to{
        width: 100%;
    }
}
@keyframes word {

    to{
        width: 100%;
    }
}
@keyframes powerpoint {

    to{
        width: 100%;
    }
}
@keyframes math {

    to{
        width: 100%;
    }
}
@keyframes stats {

    to{
        width: 100%;
    }
}
@keyframes cs {

    to{
        width: 100%;
    }
}
@keyframes physics {

    to{
        width: 5%;
    }
}
@keyframes algorithms {

    to{
        width: 90%;
    }
}
@keyframes git {

    to{
        width: 75%;
    }
}