body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/*------Header CSS-------*/
#header
{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/New-York-City-Background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.user-box
{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.user-box img
{
    border-radius: 50%;
    height: 350px;
    width: 350px;
    border: 1px solid black
}
.user-box h1
{
    color: #fff;
    left: 50%;
    text-align: center;
    font-weight: bold;
}
.user-box p
{
    left: 50%;
    top: -10%;
    font-size: large;
    color: #fff;
    text-align: center;
}
.user-box a:link {
    color: white;
  }
  
  /* visited link */
.user-box a:visited {
    color: white;
  }
  
  /* mouse over link */
.user-box a:hover {
    color: white;
  }
  
  /* selected link */
.user-box a:active {
    color: white;
  }
.scroll-btn
{
    bottom: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid #fff;
    padding: 10px 10px 20px;
    border-radius: 30px;
}
.scroll-bar span
{
    border: 2px solid #fff;
    font-size: 10px;
    border-radius: 30px;
}
.scroll-bar
{
    animation: mover 1s infinite alternate;
}
@keyframes mover
{
    0%{transform: translateY(0);}
    100%{transform: translateY(10px);}
}
/* ------About------- */
.about
{
    padding-top: 100px;
    padding-bottom: 50px;
}
.profile-img
{
    height: 500px;
    border-radius: 5%;
    border: 1px solid #000;
}
.row ul
{
    columns: 2;
}
.nav-bar
{
    top: 0;
    position: sticky;
    z-index: 2;

}
.navbar
{
    background-color: #000
}
.nav-bar .fa-bars
{
    font-size: 35px;
    color: #fff;
}
.navbar-toggler
{
    outline: none !important;
}
.navbar-nav
{
    float: right;
    text-align: right;
}
.nav-link
{
    color: #fff !important;
}
hr
{
    height: 1px;
    color: #0099cc;
    background-color: #0099cc;
    border: none;
}
#rocdate
{
    text-align: right;

}
.post h5
{
    font-size: 50px;
}
.post ul
{
    columns: 1;
}
.post 
{
    border-left: 0;
    border-right: 0;
    width: auto;
}
.post {

    margin: auto;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{
    display: block;
}
.timeline
{
    list-style-type: none;
}
tbody
{
    display: table;
    border-collapse: collapse;
    margin: 0px;
    width: 100%;
}
.post table
{
    width: 100%;
    display: block;
    border-collapse: collapse;
    margin: 0px;
}
#education
{
    width: 100%;
    display: block;
    border-collapse: collapse;
    margin: 0px;
}
#eddate
{
    text-align: right;
}
.skill-button-container
{
    text-align: center;
}
.skillbutton{
    display:inline-block;
    padding:0.5em 3em;
    border:0.16em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color: black;
    background-color: #FFFFFF;
    text-align:center;
    transition: all 0.15s;
    }
    .skillbutton:hover{
    columns: #0099cc;
    color: #0099cc;
    border-color:#0099cc;
    }
    .skillbutton:active{
    color:#0099cc;
    border-color:#0099cc;
    background-color: #dddddd;
    }
    @media all and (max-width:30em){
    .skillbutton{
    display:block;
    margin:0.4em auto;
    }
}
*:focus 
{
    outline: 0 !important;
}
#numpy
{
    display: none;
}
#pandas
{
    display: none;
}
#matplotlib
{
    display: none;
}
#scikit-learn
{
    display: none;
}
#jupyter
{
    display: none;
}
#modeling
{
    display: none;
}
#seaborn
{
    display: none;
}
#plotly
{
    display: none;
}
#oracle
{
    display: none;
}
#aws
{
    display: none;
}
#postgresql
{
    display: none;
}
#mysql
{
    display: none;
}
#sqlite
{
    display: none;
}
#dbeaver
{
    display: none;
}
#excel
{
    display: none;
}
#python
{
    display: none;
}
#sql
{
    display: none;
}
#django
{
    display: none;
}
#java
{
    display: none;
}
#html
{
    display: none;
}
#css
{
    display: none;
}
#javascript
{
    display: none;
}
#matlab
{
    display: none;
}
#labview
{
    display: none;
}
#imagej
{
    display: none;
}
#latex
{
    display: none;
}
#word
{
    display: none;
}
#powerpoint
{
    display: none;
}
#windows
{
    display: none;
}
#macos
{
    display: none;
}
#adobe
{
    display: none;
}
#math
{
    display: none;
}
#stats
{
    display: none;
}
#cs
{
    display: none;
}
#physics
{
    display: none;
}
#algorithms
{
    display: none;
}
#git
{
    display: none;
}
